# Notebook created to study the book from O'Reilly: [LINK](https://learning.oreilly.com/library/view/introduction-to-machine/9781449369880/ch01.html#jupyter-notebook)

In [ ]:
pip install numpy scipy matplotlib ipython scikit-learn pandas pillow

In [7]:
import numpy as np

x = np.array([[1,2,3],[5,6,7]])

print("x:\n{}".format(x))

x:
[[1 2 3]
 [5 6 7]]

## ¿Cómo se utiliza el comando .format?:

Es un comando para asignar variables dentro del print, con la posibilidad de alterar la forma en la que se imprimen. Por ejemplo:

In [8]:
print('Mi nombre es {}'.format('Jonny'))

Mi nombre es Jonny

In [11]:
# También se puede utilizar para dar formato a los números que se presentan. Por ejemplo:
valor = 3.5624
print('El número valor, con solo dos decimales se vería así {:.2f}'.format(valor))

El número valor, con solo dos decimales se vería así 3.56

In [12]:
# O para formatear fechas, se vería así:

from datetime import datetime
date = datetime.now()
print("La fecha actual es {}".format(date.strftime("%d/%m/%Y")))

La fecha actual es 12/04/2024

In [13]:
# También es posible asignar nombres a las variables:

print('El animal era un {animal} de ojos color {color}'.format(animal='Oso', color='verdes'))

El animal era un Oso de ojos color verdes

# Create a Dataframe with Pandas:

In [15]:
data = {'Nombres': ['Juan','Adriana'],
        'Edad': [12,20]
}

In [17]:
import pandas as pd
df = pd.DataFrame(data)

In [18]:
df

   Nombres  Edad
0     Juan    12
1  Adriana    20

# Using "mglearn" to get databases used in the book:

In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn
from IPython.display import display

# First use of ML:

Classification of flowers of the iris dataset:

In [20]:
from sklearn.datasets import load_iris
iris_dataset = load_iris()

In [27]:
iris_dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [43]:
print(iris_dataset['DESCR'][:200])

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive

In [44]:
# Target names:
print("Target names:", iris_dataset['target_names'])

Target names: ['setosa' 'versicolor' 'virginica']

In [45]:
# Feature names:
print("Feature names:\n", iris_dataset['feature_names'])

Feature names:
 ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [46]:
# Type of data:
print("Type of data:", type(iris_dataset['data']))

Type of data: <class 'numpy.ndarray'>